{% extends 'food/base.html' %}

{% block listing %}
<div id=content>
    <div>
        <h1 id=search_title style="position: relative; font-family: Montserrat;float: none;padding: 10%; font-size: 50px;font-weight: bold; width: 1200px; text-align: center; ">Search for foods to compare</h1>
        <form id=input_box action="{% url 'compare' %}" method="get" >
            <input id=box name="q" type="text" placeholder="Food 1..." style="
            color: #333;
            font-size: 1.2rem;
            /* margin: 0 auto; */
            padding: 1.5rem 2rem;
            margin-top: 0%;
            margin-left: 12.5%;
            margin-right: 12.5%;
            margin-bottom: 0%;
            border-radius: 0.2rem;
            background-color: rgb(255, 255, 255);
            border: none;
            width: 75%;
            display: block;
            border-bottom: 0.3rem solid transparent;
            transition: all 0.3s;"><br>
            <input id=box name="q2" type="text" placeholder="Food 2..." style="
            color: #333;
            font-size: 1.2rem;
            /* margin: 0 auto; */
            padding: 1.5rem 2rem;
            margin-top: 0%;
            margin-left: 12.5%;
            margin-right: 12.5%;
            margin-bottom: 0%;
            border-radius: 0.2rem;
            background-color: rgb(255, 255, 255);
            border: none;
            width: 75%;
            display: block;
            border-bottom: 0.3rem solid transparent;
            transition: all 0.3s;"><br>
            <input id=box action="{% url 'compare' %}" type="submit" value=Search style="
            color: rgb(255, 255, 255);
            background-color: #2c73cf7c;
            font-size: 1.2rem;
            /* margin: 0 auto; */
            padding: 1.5rem 2rem;
            margin-top: 0%;
            margin-left: 12.5%;
            margin-right: 12.5%;
            margin-bottom: 10%;
            border-radius: 0.2rem;
            /* background-color: rgb(255, 255, 255); */
            border: none;
            width: 30%;
            margin-left: 35%;
            display: block;
            border-bottom: 0.3rem solid transparent;
            transition: all 0.3s;"> 
        </form>
    </div>
</div>
    
{% endblock %}