<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type=text/css href="{% static 'css/details.css' %}">
    </head>
    <body>
        <div id="tsparticles" style="position: fixed; z-index: -1;">
            <canvas class="tsparticles-canvas-el" 
                style="width: 100%; height: 100%; background-color: rgb(120, 120, 120);"
                width="1034" height="956">
            </canvas>
        </div>
        <div id=banner>
            <h1>Eat 4 Wellness Food Database</h1>
        </div>
        <div id=content>
            <h1 id=search_title>{{ food.name }}</h1>
            <div id=foods></div>
                {% if food %}
                    <ul>
                        <li>Carbs: {{ food.carbohydrates }}</a></li>
                        <li>Fats:{{ food.fat }}</a></li>
                        <li>Protein:{{ food.protein }}</a></li>
                        <li>Calories: {{ food.calories }}</a></li>
                        <li>Ingredients: {{ food.ingredients }}</a></li>
                        <form action="{% url 'add' food.name %}" method="post">
                        {% csrf_token %}
                        {%  if meal_set|length < 1 %}
                            <li>Create a meal containing this food!</li>
                            
                            <label for="mealblank_meal">Yes!</label>
                                <input type="radio" name="yes" value="blank_meal" id="mealblank_meal" class="btn btn-default">
                            
                        {% else %}
                            {% for meal in meal_set %}
                                
                                    
                                <li>Would you like to add this food to your current meal: {{ meal.name }}</a></li>
                                <label for="meal{{ meal.name }}">Yes!</label>
                                <input type="radio" name="yes" id="meal{{ meal.name }}" value="{{ meal.name }}" class="btn btn-default">
                                
                            {% endfor %}
                            
                            
                                
                                <li>Create a new meal containing this food!</li>
                                <label for="mealblank_meal">Yes!</label>
                                <input type="radio" name="yes" value="blank_meal" id="mealblank_meal" class="btn btn-default">
                               
                            
                        {% endif %}
                        <br>
                        <input type="submit" value="go">
                    </form>
                        
                        <!--<a class=button href="#">YES!</a>-->
                        <!-- <form id=meal-bttn action="" method="get"></form>-->
                    </ul>
                {% else %}
                    <p>No food is available.</p>
                {% endif %}
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tsparticles/1.18.11/tsparticles.min.js" 
            integrity="sha512-SrYSABdk01dnXiEz2YOFvpgWn/vePlQwbr/Od+rs6x8/hjfLfR6YfZuU+qW4QaQYnl8mL1a4DgjMMdiXShNzjg==" 
            crossorigin="anonymous"></script>
        <script>
            window.onload = function() {
                tsParticles.loadJSON('particles-js', 'assets/particles.json').then(function(p) {
                // p is the loaded container, for using it later
                console.log('callback - particles.js config loaded');
                });
                tsParticles.load("tsparticles", {
                particles: {
                    number: {
                    value: 120,
                    density: {
                        enable: true,
                        area: 800
                    }
                    },
                    color: {
                    value: ["rgb(0,0,0)"]
                    },
                    shape: {
                    type: "circle",
                    stroke: {
                        width: 0,
                        color: "#b6b2b2"
                    }
                    },
                    size: {
                    value: 2,
                    random: false,
                    },
                    lineLinked: {
                    enable: true,
                    distance: 130,
                    color: "rgb(0,0,0)",
                    opacity: 1,
                    width: 1,
                    },
                    move: {
                    enable: true,
                    speed: .8,
                    direction: "none",
                    random: true,
                    straight: false,
                    outMode: "bounce",
                    bounce: false,
                    attract: {
                        enable: false,
                        rotateX: 600,
                        rotateY: 1200
                    }
                    }
                },
                });
            };
        </script>

    </body>

</html>

