{% extends 'food/base.html' %}

{% block listing %}
<div id=content style="position: relative;">
    <div>   
        <h1 id=search_title style="position: relative; font-family: Montserrat;float: none;padding: 10%; font-size: 50px;font-weight: bold; width: 1200px; text-align: center; ">Top 15 search results for {{ query }}: </h1>
    
        <section style="position: relative; margin-bottom: 10%; font-size: 40px; width: 1000px; margin-left: 10%;">
            {% if foodz %}
                <ul>
                <!-- {% for x in foodz %}
                    <li><a href="/food/{{ food.name }}/">{{ food.name }}</a></li><br/>
                    <li>{{ x }}</li><br/>
                {% endfor %} -->
                    <li><a href='/food/search_fda_details/?q={{ foodz.0.fdcId }}'>{{ foodz.0.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.1.fdcId }}'>{{ foodz.1.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.2.fdcId }}'>{{ foodz.2.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.3.fdcId }}'>{{ foodz.3.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.4.fdcId }}'>{{ foodz.4.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.5.fdcId }}'>{{ foodz.5.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.6.fdcId }}'>{{ foodz.6.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.7.fdcId }}'>{{ foodz.7.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.8.fdcId }}'>{{ foodz.8.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.9.fdcId }}'>{{ foodz.9.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.10.fdcId }}'>{{ foodz.10.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.11.fdcId }}'>{{ foodz.11.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.12.fdcId }}'>{{ foodz.12.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.13.fdcId }}'>{{ foodz.13.name }}</a></a></li>
                    <li><a href='/food/search_fda_details/?q={{ foodz.14.fdcId }}'>{{ foodz.14.name }}</a></a></li>
                </ul>
            {% else %}
                <!-- <p>That is not a food.</p> -->
                <p> </p>
            {% endif %}    
        </section>
    </div>  
    <!-- <div id=foods></div>
        {% if food %}
            <ul>
                <li>Carbs: {{ food.carbohydrates }}</a></li>
                <li>Fats:{{ food.fat }}</a></li>
                <li>Protein:{{ food.protein }}</a></li>
                <li>Calories: {{ food.calories }}</a></li>
                <li>Ingredients: {{ food.ingredients }}</a></li>
            </ul>
        {% else %}
            <p>No food is available.</p>
        {% endif %}
    </div> -->
    <div id=foods>
        
    </div>
</div>
{% endblock %}