{% extends 'food/base.html' %}

{% block listing %}
<div id=content>
    <div id=search>
        <h1 id=search_title style="font-family: Montserrat;float: none;padding: 10%; font-size: 50px;font-weight: bold; width: 1200px; text-align: center; ">Search the FDA database</h1>
        <!-- <p>... or <a href='https://fdc.nal.usda.gov/index.html'>click here</a></p> -->
        <form id=input_box action="{% url 'search_fda_list' %}" method="get" style="
        color: #333;
        font-size: 1.2rem;
        /* margin: 0 auto; */
        padding: 1.5rem 2rem;
        margin-top: 0;
        margin-left: 12.5%;
        margin-right: 12.5%;
        margin-bottom: 10%;
        border-radius: 0.2rem;
        background-color: rgb(255, 255, 255);
        border: none;
        width: 75%;
        display: block;
        border-bottom: 0.3rem solid transparent;
        transition: all 0.3s;">
            <input id=box name="q" type="text" placeholder="Search..." style="border: none; height: 10%;font-size: 30px;padding: 2.5%; position: relative; display: block; margin: 0;"">
        </form>
    </div>

    <div id=foods>
        <p> </p>
    </div>
</div>
{% endblock %}