<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type=text/css href="{% static 'accounts/login.css' %}">
    </head>

    <body>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div id="tsparticles" style="position: fixed; z-index: -1;">
                <canvas class="tsparticles-canvas-el" 
                    style="width: 100%; height: 100%; background-color: rgb(120, 120, 120);"
                    width="1034" height="956">
                </canvas>
            </div>
            <div id=banner>
                Login
            </div>

            <div id=content>
                {% block content %}
                
                <div id=error>
                    {% if form.errors %}
                        <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed,
                                please login with an account that has access.
                            </p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}
                </div>

                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                <input id=button class=box type="submit" value="Login!">
                <input type="hidden" name="next" value="{{ next }}" />

                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                <p>Don't have an account? <a href="{% url 'accounts:register' %}">Register!</a></p>

                {% endblock %}
            </div> 
        </form>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tsparticles/1.18.11/tsparticles.min.js" 
            integrity="sha512-SrYSABdk01dnXiEz2YOFvpgWn/vePlQwbr/Od+rs6x8/hjfLfR6YfZuU+qW4QaQYnl8mL1a4DgjMMdiXShNzjg==" 
            crossorigin="anonymous"></script>
        <script>
            window.onload = function() {
                tsParticles.loadJSON('particles-js', 'assets/particles.json').then(function(p) {
                // p is the loaded container, for using it later
                console.log('callback - particles.js config loaded');
                });
                tsParticles.load("tsparticles", {
                particles: {
                    number: {
                    value: 120,
                    density: {
                        enable: true,
                        area: 800
                    }
                    },
                    color: {
                    value: ["rgb(0,0,0)"]
                    },
                    shape: {
                    type: "circle",
                    stroke: {
                        width: 0,
                        color: "#b6b2b2"
                    }
                    },
                    size: {
                    value: 2,
                    random: false,
                    },
                    lineLinked: {
                    enable: true,
                    distance: 130,
                    color: "rgb(0,0,0)",
                    opacity: 1,
                    width: 1,
                    },
                    move: {
                    enable: true,
                    speed: .8,
                    direction: "none",
                    random: true,
                    straight: false,
                    outMode: "bounce",
                    bounce: false,
                    attract: {
                        enable: false,
                        rotateX: 600,
                        rotateY: 1200
                    }
                    }
                },
                });
            };
        </script>
    </body>
</html>