{% extends 'food/base.html' %}

{% block listing %}
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <div id=content>
        <div>
            {% block content %}
        
            <div id=error>
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% if next %}
                    {% if user.is_authenticated %}
                        <p style="font-family: Montserrat;float: none;padding: 10%; font-size: 50px;font-weight: bold; width: 1200px; text-align: center; ">
                            Your account doesn't have access to this page. To proceed,
                            please login with an account that has access.
                        </p>
                    {% else %}
                        <p style="font-family: Montserrat;float: none;padding: 10%; font-size: 50px;font-weight: bold; width: 1200px; text-align: center; ">
                            Please login to see this page.</p>
                    {% endif %}
                {% endif %}
            </div>

            <div style="margin: auto; margin-left: 38.5%;height: 50px; margin-bottom: 5%; width: 200px;">
                <table>
                    <tr>
                        <td style="font-size: 24px; font-family: Montserrat; color: rgb(255, 255, 255); margin-left: 10px;">{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td style="font-size: 24px;font-family: Montserrat; color: rgb(255, 255, 255); margin-left: 10px;">{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
            </div>
            
            <div style="margin-bottom: 0%; margin-top: 2%;">
                {# Assumes you setup the password_reset view in your URLconf #}
                <p style="font-family: Montserrat; color: rgb(255, 255, 255); margin-left: 10px; text-align: center;"><a href="{% url 'password_reset' %}">Lost password?</a></p>
                <p style="font-family: Montserrat; color: rgb(255, 255, 255); margin-left: 10px; text-align: center;">Don't have an account? <a href="{% url 'accounts:register' %}">Register!</a></p>
            </div>
            
            <input id=button class=box type="submit" value="Login!" style="
            color: rgb(255, 255, 255);
            background-color: #2c73cf7c;
            font-size: 1.2rem;
            /* margin: 0 auto; */
            padding: 1.5rem 2rem;
            margin-top: 5%;
            margin-left: 12.5%;
            margin-right: 12.5%;
            margin-bottom: 10%;
            border-radius: 0.2rem;
            /* background-color: rgb(255, 255, 255); */
            border: none;
            width: 30%;
            margin-left: 35%;
            display: block;
            border-bottom: 0.3rem solid transparent;
            transition: all 0.3s;">
            <input type="hidden" name="next" value="{{ next }}" />
        
            
            {% endblock %}
        </div>
        
    </div> 
</form>
{% endblock %}