{% extends 'food/base.html' %}

{% block listing %}
<form action="{% url 'accounts:register' %}" method="post">
    {% csrf_token %}
    
    <div id=content>
        
        <div>   
            
            <h1 id=search_title style="position: relative;display: block; font-family: Montserrat;float: none;margin-top: 10%; padding-bottom: 10%; font-size: 40px;font-weight: bold; width: 100%; text-align: center; ">
                Register a new account!
            </h1>
    
            {% if error_message %}
            <div id=error>
                {% for error in error_message %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <ul style="list-style-type: none;
            color: rgb(255, 255, 255);
            font-size: 32px;
            /* margin: 0 auto; */
            padding: 10px 15px;
            margin-top: 0%;
            margin-left: 0%;
            margin-right: 0%;
            margin-bottom: 0%;
            border-radius: 0.2rem;
            /* background-color: rgb(255, 255, 255); */
            border: none;
            width: 100%;
            display: block;
            /* height: 32px; */
            border-bottom: 0.3rem solid transparent;
            transition: all 0.3s;">
                <li><label for="Username">Enter username:</label> <input class=box type="text" name="Username" id="Username" value="{{ username }}" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
                
                <li><label for="FName">Enter first name:</label> <input class=box type="text" name="FName" id="FName" value="{{ fname }}" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
                <li><label for="LName">Enter last name:</label> <input class=box type="text" name="LName" id="LName" value="{{ lname }}" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
    
                <li><label for="Email">Enter email:</label> <input class=box type="text" name="Email" id="Email" value="{{ email }}" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
    
                <li><label for="Password1">Enter password:</label> <input class=box type="password" name="Password1" id="Password1" value="{{ password1 }}" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
                <li><label for="Password2">Confirm password:</label> <input class=box type="password" name="Password2" id="Password2" value="{{ password2 }}" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
            </ul>
            {% else %}
            <ul style="list-style-type: none;
            color: rgb(255, 255, 255);
            font-size: 32px;
            /* margin: 0 auto; */
            padding: 10px 15px;
            margin-top: 0%;
            margin-left: 0%;
            margin-right: 0%;
            margin-bottom: 0%;
            border-radius: 0.2rem;
            /* background-color: rgb(255, 255, 255); */
            border: none;
            width: 100%;
            display: block;
            /* height: 32px; */
            border-bottom: 0.3rem solid transparent;
            transition: all 0.3s;">
                <li><label for="Username">Enter username:</label> <input class=box type="text" name="Username" id="Username" value="" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
    
                <li><label for="FName">Enter first name:</label> <input class=box type="text" name="FName" id="FName" value="" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
                <li><label for="LName">Enter last name:</label> <input class=box type="text" name="LName" id="LName" value="" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
    
                <li><label for="Email">Enter email:</label> <input class=box type="text" name="Email" id="Email" value="" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
    
                <li><label for="Password1">Enter password:</label> <input class=box type="password" name="Password1" id="Password1" value="" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
                <li><label for="Password2">Confirm password:</label> <input class=box type="password" name="Password2" id="Password2" value="" style="margin-left: 25px;font-size: 24px; height: 32px;float: right;clear: both;"></li>
            </ul>
            {% endif %}
            <input id=button class=box type="submit" value="Register!" style="
            color: rgb(255, 255, 255);
            background-color: #2c73cf7c;
            font-size: 1.2rem;
            /* margin: 0 auto; */
            padding: 1.5rem 2rem;
            margin-top: 10%;
            margin-left: 12.5%;
            margin-right: 12.5%;
            margin-bottom: 10%;
            border-radius: 0.2rem;
            /* background-color: rgb(255, 255, 255); */
            border: none;
            width: 30%;
            margin-left: 35%;
            display: block;
            border-bottom: 0.3rem solid transparent;
            transition: all 0.3s;">
        </div>
         
    </div>

    
</form>
{% endblock %}