{% extends 'food/base.html' %}

{% block listing %}
<div id=content>
    <a class=button href="/food/search_fda/" style="vertical-align: middle;height: auto;display: flex;">
        Search, discover, and compare different foods!
    </a>
    {% if user.is_authenticated %}
    <a class=button href="{% url 'accounts:profile' user.id %}" style="top: 0%; bottom: 0%;"> {# TODO: this needs to go somewhere... #}
        Continue to member menu!
    </a>
    
    <a class=button href="{% url 'logout' %}?next={{request.path}}">
            Welcome, {{ user.get_username }} <br><br>
            Logout
    {% else %}
    <a class=button href="{% url 'login' %}?next={{request.path}}">
            Login
        {% endif %}
    </a>
</div>
{% endblock %}